### INTRODUCCIÓN A PANDAS


pandas es una librería de datos para el análisis de datos. Ofrece variedad de operaciones de exploración, limpieza y transformación de datos.

pandas está construido sobre __numpy__ y __scipy__  suministrando una fácil manipulación de estructuras de datos.

Las principales estructuras de datos en Pandas son __Series__ y __DataFrames__. Veamos algunas de las funciones de Pandas:

Generación de estadística descriptiva de los datos.
Limpieza de datos usando funciones preconstruidas (built-in).
Operaciones como subconjuntos de datos. filtrado, inserción, borrado y agragación de datos.
Combinar (Merging) múltiples conjuntos de datos.
Manejos de series de tiempo.


Documentación oficial en: http://pandas.pydata.org/pandas-docs/stable/

In [ ]:
#Se importa Pandas
import pandas as pd

In [ ]:
!pip install obspy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting obspy
  Downloading obspy-1.4.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (14.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.5/14.5 MB 50.1 MB/s eta 0:00:00
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from obspy) (67.6.1)
Requirement already satisfied: matplotlib>=3.3 in /usr/local/lib/python3.9/dist-packages (from obspy) (3.7.1)
Requirement already satisfied: scipy>=1.7 in /usr/local/lib/python3.9/dist-packages (from obspy) (1.10.1)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from obspy) (2.27.1)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.9/dist-packages (from obspy) (1.4.47)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from obspy) (4.9.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.9/dist-packages (from obspy) (4.4.2)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.9/dist-packages (from obspy) (1.22.4)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.3->obspy) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.3->obspy) (23.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.3->obspy) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.3->obspy) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.3->obspy) (4.39.3)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.3->obspy) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.3->obspy) (1.4.4)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.3->obspy) (1.0.7)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=3.3->obspy) (5.12.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->obspy) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->obspy) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->obspy) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->obspy) (1.26.15)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/dist-packages (from sqlalchemy->obspy) (2.0.2)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from importlib-resources>=3.2.0->matplotlib>=3.3->obspy) (3.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7->matplotlib>=3.3->obspy) (1.16.0)
Installing collected packages: obspy
Successfully installed obspy-1.4.0

###*SERIES*
Arreglos de datos de dimensión 1

In [ ]:
#Se crea una serie
serie = pd.Series(data=[100, 200, 300, 400, 500], index=['Juan', 'Roberto', 'Nancy', 'Daniel', 'Erica'])

In [ ]:
serie

Juan       100
Roberto    200
Nancy      300
Daniel     400
Erica      500
dtype: int64

In [ ]:
type(serie)

pandas.core.series.Series

In [ ]:
serie.index

Index(['Juan', 'Roberto', 'Nancy', 'Daniel', 'Erica'], dtype='object')

In [ ]:
serie.ndim

1

In [ ]:
serie['Nancy']

300

In [ ]:
#Note que se pasa una lista de índices
serie[['Erica', 'Juan']]

Erica    500
Juan     100
dtype: int64

In [ ]:
'Juan' in serie

True

In [ ]:
serie ** 2

Juan        10000
Roberto     40000
Nancy       90000
Daniel     160000
Erica      250000
dtype: int64

###DATAFRAME
Es un arreglo de dos dimensiones etiquetado
Su creación es a partir de de diccionarios donde la llave son los nombres de las columnas y las entradas son series de pandas con sus respectivos índices.

In [ ]:
#Se crea un diccionario de datos
dicc ={'col1' : pd.Series([100., 200., 300.], index=['manzana', 'banano', 'naranja']),
     'col2' : pd.Series([111., 222., 333., 4444.], index=['manzana', 'banano', 'cereza', 'lima'])}

In [ ]:
#Se pasa el diccionario a un dataframe y se almacena en el objeto df
df = pd.DataFrame(dicc)
df

          col1    col2
banano   200.0   222.0
cereza     NaN   333.0
lima       NaN  4444.0
manzana  100.0   111.0
naranja  300.0     NaN

In [ ]:
df.ndim

2

In [ ]:
#¿Qué ejecuta este comando?
pd.DataFrame(dicc, index=['lima', 'banano', 'manzana'])

          col1    col2
lima       NaN  4444.0
banano   200.0   222.0
manzana  100.0   111.0

In [ ]:
#¿o éste?
pd.DataFrame(dicc, index=['lima', 'banano', 'manzana'], columns=['cualquier_cosa', 'lo_que_sea','col1'])

        cualquier_cosa lo_que_sea   col1
lima               NaN        NaN    NaN
banano             NaN        NaN  200.0
manzana            NaN        NaN  100.0

Un DataFrame también se puede crear a partir de una lista de diccionarios, donde cada llave representa una columna y el valor lo que almacena. Los índices por defecto son números enteros que empiezan desde cero.

In [ ]:
datos = [{'alex': 1, 'joe': 2}, {'alex':2,'ema': 5, 'dora': 10, 'alice': 20}]

In [ ]:
df2 = pd.DataFrame(datos)
df2

   alex  joe  ema  dora  alice
0     1  2.0  NaN   NaN    NaN
1     2  NaN  5.0  10.0   20.0

In [ ]:
df3 = pd.DataFrame(datos, index=['rojo','amarillo'])
df3

          alex  joe  ema  dora  alice
rojo         1  2.0  NaN   NaN    NaN
amarillo     2  NaN  5.0  10.0   20.0

In [ ]:
pd.DataFrame(datos, columns=['joe', 'dora','alice'])

   joe  dora  alice
0  2.0   NaN    NaN
1  NaN  10.0   20.0

In [ ]:
df['col1']

banano     200.0
cereza       NaN
lima         NaN
manzana    100.0
naranja    300.0
Name: col1, dtype: float64

In [ ]:
#Para crear una nueva columna en el dataframe existente
df['col3'] = df['col1'] * df['col2']
df

          col1    col2     col3
banano   200.0   222.0  44400.0
cereza     NaN   333.0      NaN
lima       NaN  4444.0      NaN
manzana  100.0   111.0  11100.0
naranja  300.0     NaN      NaN

In [ ]:
df['filtro'] = (df['col1'] > 250) & (df['col2'] > 100)
df

          col1    col2     col3  filtro
banano   200.0   222.0  44400.0   False
cereza     NaN   333.0      NaN   False
lima       NaN  4444.0      NaN   False
manzana  100.0   111.0  11100.0   False
naranja  300.0     NaN      NaN   False

In [ ]:
df.insert(3, 'copia_de_col3', df['col3'])
df

          col1  copia_de_col1    col2  copia_de_col3     col3  filtro
banano   200.0          200.0   222.0        44400.0  44400.0   False
cereza     NaN            NaN   333.0            NaN      NaN   False
lima       NaN            NaN  4444.0            NaN      NaN   False
manzana  100.0          100.0   111.0        11100.0  11100.0   False
naranja  300.0          300.0     NaN            NaN      NaN   False

In [ ]:
#¿Qué hace este comando?
df['mitad_col_2'] = df['col2'][:2]/2
df

,col1,copia_de_col1,col2,copia_de_col3,col3,filtro,mitad_col_2
banano,200.0,200.0,222.0,44400.0,44400.0,False,111.0
cereza,NaN,NaN,333.0,NaN,NaN,False,166.5
lima,NaN,NaN,4444.0,NaN,NaN,False,NaN
manzana,100.0,100.0,111.0,11100.0,11100.0,False,NaN
naranja,300.0,300.0,NaN,NaN,NaN,False,NaN

In [ ]:
df.head(2)

,col1,copia_de_col1,col2,copia_de_col3,col3,filtro,mitad_col_2
banano,200.0,200.0,222.0,44400.0,44400.0,False,111.0
cereza,NaN,NaN,333.0,NaN,NaN,False,166.5

In [ ]:
df.tail(3)

,col1,copia_de_col1,col2,copia_de_col3,col3,filtro,mitad_col_2
lima,NaN,NaN,4444.0,NaN,NaN,False,NaN
manzana,100.0,100.0,111.0,11100.0,11100.0,False,NaN
naranja,300.0,300.0,NaN,NaN,NaN,False,NaN

In [ ]:
df.describe()

,col1,copia_de_col1,col2,copia_de_col3,col3,mitad_col_2
count,3.0,3.0,4.000000,2.000000,2.000000,2.000000
mean,200.0,200.0,1277.500000,27750.000000,27750.000000,138.750000
std,100.0,100.0,2112.944628,23546.655814,23546.655814,39.244426
min,100.0,100.0,111.000000,11100.000000,11100.000000,111.000000
25%,150.0,150.0,194.250000,19425.000000,19425.000000,124.875000
50%,200.0,200.0,277.500000,27750.000000,27750.000000,138.750000
75%,250.0,250.0,1360.750000,36075.000000,36075.000000,152.625000
max,300.0,300.0,4444.000000,44400.000000,44400.000000,166.500000