# Insert
La instrucci√≥n <b><font color = green>Insert</font></b> de SQLite se utiliza para agregar datos a una tabla de base de datos.

#### Sintaxis

<p style="text-align: center;">
<b>INSERT INTO</b> <i>TABLE_NAME</i> <i>[(column1, column2, column3,...columnN)]</i> <b>VALUES</b> <i>(value1, value2, value3,...valueN)</i>
</p>

<p style="text-align: center;">column1, column2 ... son los campos de una tabla.</p>

<p style="text-align: center;"><b>SELECT</b> <i>*</i> <b>FROM</b> <i>table_name</i></p>

In [1]:
import sqlite3
db_file = 'data/soccer/database.sqlite'
conn = sqlite3.connect(db_file)

| Table    |    Total Rows    |    Total Columns    |    Columns                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |
|----------|------------------|---------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| Country  | 11               | 2                   | id, name                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |
| League   | 11               | 3                   | id, country_id, name                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         |
| Match    | 25979            | 115                 | id, country_id, league_id, season, stage, date, match_api_id, home_team_api_id, away_team_api_id, home_team_goal, away_team_goal, home_player_X1,   home_player_X2, home_player_X3, home_player_X4, home_player_X5,   home_player_X6, home_player_X7, home_player_X8, home_player_X9,   home_player_X10, home_player_X11, away_player_X1, away_player_X2,   away_player_X3, away_player_X4, away_player_X5, away_player_X6,   away_player_X7, away_player_X8, away_player_X9, away_player_X10,   away_player_X11, home_player_Y1, home_player_Y2, home_player_Y3,   home_player_Y4, home_player_Y5, home_player_Y6, home_player_Y7,   home_player_Y8, home_player_Y9, home_player_Y10, home_player_Y11,   away_player_Y1, away_player_Y2, away_player_Y3, away_player_Y4,   away_player_Y5, away_player_Y6, away_player_Y7, away_player_Y8,   away_player_Y9, away_player_Y10, away_player_Y11, home_player_1,   home_player_2, home_player_3, home_player_4, home_player_5, home_player_6,   home_player_7, home_player_8, home_player_9, home_player_10, home_player_11,   away_player_1, away_player_2, away_player_3, away_player_4, away_player_5,   away_player_6, away_player_7, away_player_8, away_player_9, away_player_10,   away_player_11, goal, shoton, shotoff, foulcommit, card, cross, corner,   possession, B365H, B365D, B365A, BWH, BWD, BWA, IWH, IWD, IWA, LBH, LBD, LBA,   PSH, PSD, PSA, WHH, WHD, WHA, SJH, SJD, SJA, VCH, VCD, VCA, GBH, GBD, GBA,   BSH, BSD, BSA |
| Player   | 11060            | 7                   | id,   player_api_id, player_name, player_fifa_api_id, birthday, height, weight                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |

In [2]:
cursorObj = conn.cursor()
cursorObj.execute('SELECT * from Country')
for row in cursorObj.fetchall():
    print(row)

(1, 'Belgium')
(1729, 'England')
(4769, 'France')
(7809, 'Germany')
(10257, 'Italy')
(13274, 'Netherlands')
(15722, 'Poland')
(17642, 'Portugal')
(19694, 'Scotland')
(21518, 'Spain')
(24558, 'Switzerland')

In [3]:
conn.execute('INSERT INTO Country values (?,?)', (2,'M√©xico'))

In [4]:
cursorObj = conn.cursor()
cursorObj.execute('SELECT * from Country')
for row in cursorObj.fetchall():
    print(row)

(1, 'Belgium')
(2, 'M√©xico')
(1729, 'England')
(4769, 'France')
(7809, 'Germany')
(10257, 'Italy')
(13274, 'Netherlands')
(15722, 'Poland')
(17642, 'Portugal')
(19694, 'Scotland')
(21518, 'Spain')
(24558, 'Switzerland')

In [5]:
new_player = (120350,'Pele',180,178)
conn.execute('INSERT INTO Player (id,player_name,height,weight) values (?,?,?,?)', new_player)

In [6]:
cursorObj = conn.cursor()
cursorObj.execute('SELECT * from Player WHERE player_name=="Pele"')
cursorObj.fetchall()

[(8536, 163605, 'Pele', 194020, '1991-09-29 00:00:00', 182.88, 170),
 (8537, 97490, 'Pele', 182626, '1987-09-14 00:00:00', 187.96, 176),
 (120350, None, 'Pele', None, None, 180, 178)]

In [7]:
new_player = (103,'Diego Maradona',165,180)
conn.execute('INSERT INTO Player (id,player_name,height,weight) values (?,?,?,?)', new_player)

IntegrityError: UNIQUE constraint failed: Player.id

In [8]:
cursorObj = conn.cursor()
cursorObj.execute('SELECT * from Player WHERE id==103')
cursorObj.fetchall()

[(103, 38617, 'Adam Federici', 164853, '1985-01-31 00:00:00', 187.96, 198)]